[package]
name = "task-runner"
version = "0.1.0"
edition = "2024"

[dependencies]
# actix = "0.13"
actix-web = "4"
deadpool-postgres = { version = "0.12", features = ["serde"] }
serde = "1.0.219"
dotenvy = "0.15.7"
serde_json = "1.0.140"
diesel = { version = "2.2.8", features = ["postgres", "r2d2", "uuid", "serde_json", "chrono"] }
uuid = { version = "1.16.0", features = ["v4", "serde"] }
env_logger = "0.11.8"
log = "0.4.27"
reqwest = {version = "0.12.15", features = ["json", "blocking"]}
diesel-derive-enum = { version = "3.0.0-beta.1", features = ["postgres"] }
chrono = {version = "0.4.41", features = ["serde"]}
actix = {version = "0.13.5", features = []}

[profile.release]
strip = true  # Automatically strip symbols from the binary.
lto = true
codegen-units = 1

[[bin]]
name = "server"
path = "src/main.rs"

[[bin]]
name = "test-server"
path = "src/test_server.rs"