[package]
name = "task-runner"
version = "0.1.0"
edition = "2024"

[dependencies]
# actix = "0.13"
actix-web = "4"
deadpool-postgres = { version = "0.12", features = ["serde"] }
serde = "1.0.219"
dotenvy = "0.15.7"
serde_json = "1.0.140"
diesel = { version = "2", features = ["postgres", "r2d2", "uuid"] }
uuid = { version = "1.16.0", features = ["v4", "serde"] }
env_logger = "0.11.8"
log = "0.4.27"
# derive_more = { features = ["display", "error", "from"] }
