services:
  postgres:
    image: postgres:17.4-alpine3.21
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: testing
      POSTGRES_DB: testing_db
      PGUSER: test_user
      PGDATABASE: testing_db
    ports:
      - 5432:5432

  task-runner:
    image: task-runner
    environment:
      - DATABASE_URL=postgres://test_user:testing@postgres/testing_db
      - HOST_URL=http://localhost:8080
    ports:
      - 8080:8080