services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: testing
      POSTGRES_DB: testing_db
      PGUSER: test_user
      PGDATABASE: testing_db
    ports:
      - 5434:5432

  # task-runner:
  #   image: task-runner
  #   environment:
  #     - DATABASE_URL=postgres://test_user:testing@postgres/testing_db
  #     - HOST_URL=http://localhost:8085
  #   ports:
  #     - 8085:8085
  #   ulimits:
  #     nofile:
  #       soft: 65536
  #       hard: 65536